body {
    background-color: lightgray;
    display: flex;
    justify-content: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.overall {
    width: 898px;
    background-color: white;
    border: 8px solid white;
    border-radius: 20px;
}

.div-hero {
    background-image: url("images/Bydgoszcz_spichrze_most_staromiejski_zabytki_fot_Robert_Sawicki.jpg");
    background-size: cover;
    padding: 200px 0;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid darkgray;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}

.div-hero-header {
    background-color: #656d4a;
    padding: 8px 16px;
    border-radius: 5px;
}

.div-hero-slogan {
    background-color: #414833;
    padding: 5px;
    width: 340px;
    text-align: center;
}

#todos-header {
    width: 896px;
    margin: 0 auto 0px;
    text-align: center;
    background-color: #c2c5aa;
    padding: 20px 0 20px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

#todos-box {
    display: flex;
    flex-direction: row;
    width: 896px;
    margin: 0 auto;
    background-color: #c2c5aa;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.todo {
    width: 297px;
    text-align: center;
}

.todo-img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.todo-pgraph {
    padding: 0 20px 0;
}

#card-overall {
    border: 1px solid darkgray;
    /* border-bottom: 1px solid black; */
    border-top: none;
    /* margin: 40px auto 0px; */
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 0 0 20px 20px;

}

#card-guide {
    width: 600px;
    margin: 40px auto 0px;
    display: flex;
    justify-content: space-evenly;

    background-color: #a4ac86;
    border-bottom: 5px solid #656d4a;
    border-radius: 5px;
}

.img-business {
    width: 300px;
    /* height: 222px; */
    margin: 20px 10px 20px 20px;
    background-image: url("images/640px-Aldrin_Apollo_11_head.jpg");
    background-size: cover;
}

.img-business:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHhsZXZxeGRnMG96Ym56Y2RnZWYwZmcyMDVjYjd3MmtpNzhlejg3aCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Nw8z2olm0nGHC/giphy.gif");
    /* background-image: url("images/640px-Aldrin_Apollo_11_head.jpg"); */
}

.flex-stacked {
    width: 300px;
    text-align: center;
    /* display: block; */
    padding: 20px 20px 20px 10px;
}