.img-business {
    width: 400px;
}

.card {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 20px;
    background-color: #ffe6a7;
    border-bottom: 5px solid #99582a;
}

/* Notice that:
- display is not necessary, because all elements (hn, p) take entire line anyway;
- text-align and color could be included into .card class, because they do not affect the image
*/
.flex-stacked {
    text-align: center;
    font-family: cursive; /* Firefox handles correctly, Chrome defaults to serif */
    color: #432818;
    display: block;
}
