html,
body {
  margin: 0;
  background-color: black;
  font-family: Inter, sans-serif;
}

header {
  height: 55px;
  background-color: #f55a5a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

header>img {
  width: 24px;
  margin-right: 7px;
}

header>span {
  font-size: 0.9rem;
  font-weight: 500;
}